---
import BaseLayout from '../layouts/BaseLayout.astro';
import Blogpost from '../components/Blogpost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');

const pageTitle = "VFO's Blog";
---

<BaseLayout pageTitle= {pageTitle}>
    <h1>What am I up to?</h1>
    <p>This is where I will post interesting stuff I convince myself to write about. You found a goldmine, get excited.</p>
    <ol>
      {allPosts.map((post) => <Blogpost title={post.frontmatter.title} url={post.url} />)}
    </ol>
</BaseLayout>