---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Ready for liftoff! 🚀";
const pageDescription = "Welcome to my home on the internet";
---

<BaseLayout pageTitle= {pageTitle} pageDescription={pageDescription}>
  <h1>Welcome to my home on the internet</h1>
</BaseLayout>
