---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Ready for liftoff! 🚀";
const pageDescription = "Welcome to my home on the internet";
---

<BaseLayout pageTitle= {pageTitle} pageDescription={pageDescription}>
  <h1>Welcome to my home on the internet</h1>
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>
