---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Ready for liftoff! 🚀";
---

<BaseLayout pageTitle= {pageTitle} >
  <h1>Welcome to my home on the internet</h1>
</BaseLayout>
