---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.2rem 0.8rem;
    border-radius: 0.25rem;
    color: white;
    background-color: navy;
    text-decoration: none;
  }

  a:hover {
    background-color: orange;
  }
</style>